body{ background-color: black;}
h1{ text-align: center; color: red;}

table{ color: red;}

.class cabeçalho { font word-spacing: 5px;}

table{border-style: double; align-items: center;}

th{font-size: xx-large; font word-spacing: 5px;}

td{font word-spacing: 5px;}